<div class="clearfix">
  <h4 class="text-muted">#<%= chatroom.topic %></h4>
  <% if can? :destroy, chatroom %>
    <h4>
      <%= link_to "#{icon('lock', 'Change Password')}".html_safe, edit_chatroom_password_path(chatroom), class: 'btn btn-warning btn-xs', remote: true %>
      <%= link_to "#{icon('pencil-square-o', 'Rename')}".html_safe, edit_chatroom_path(chatroom), class: 'btn btn-info btn-xs', remote: true %>
      <%= link_to "#{icon('trash-o', 'Delete')}".html_safe, chatroom_path(chatroom), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "Are you sure you want to delete #{chatroom.topic} chatroom?"} %>
    </h4>
  <% end %>
</div>

<div class="panel panel-default">
  <% if chatroom.messages.any? %>
    <div class="panel-body messages" id="messages_<%= chatroom.topic %>">
      <%= render partial: 'messages/message', collection: chatroom.messages.sort, as: :message %>
    </div>
  <% else %>
    <div class="panel-body hidden messages" id="messages_<%= chatroom.topic %>">
    </div>
  <% end %>
</div>
<%= render partial: 'messages/message_form', locals: { message: message, chatroom: chatroom } %>
