<div class="container" style="max-width: 500px;">
  <h2><%= @chatroom.topic %></h2>
  <div class="panel panel-default">
    <% if @chatroom.messages.any? %>
      <div class="panel-body messages" id="messages_<%= @chatroom.topic %>">
        <%= render partial: 'messages/message', collection: @chatroom.messages.sort, as: :message %>
      </div>
    <% else %>
      <div class="panel-body hidden messages" id="messages_<%= @chatroom.topic %>">
      </div>
    <% end %>
  </div>
  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom} %>
</div>
